@font-face {
  font-family: 'Base 02';
  src: url('Base\ 02.ttf') format('truetype');
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 50px;
  height: auto;
  margin-right: 15px;
}

body {
  padding-top: 70px;
  background-color: black;
  padding-bottom: 100px;
}

h1 {
  color: white;
  text-shadow: #403f3f 5px 5px 5px;
  font-family: 'Base 02', sans-serif;
}

.carousel-item img {
  max-height: 600px;
  max-width: 100%;
  object-fit: contain;
}

.cards-container {
  padding: 10px;
}

footer {
  padding: 1px;
  width: 100%;
  bottom: 0;
}
